#logo-container {
  font-family: 'Fanwood Text', serif;
  font-size: 55px;
}

.nav-wrapper {
  font-family: 'Fanwood Text', serif;
}


.container2 {
  margin-top: 35px;
  margin-left: 325px;
}


.dropdown-trigger {
  font-size: 24px;
}

.height {
  height: 20px;
}

.banner-area h2 {
    color: rgb(252, 249, 249);
    align-content: center;
    margin: 0%;
    padding: 0%;
}

a:hover {
  color: yellow;
}

.border-container {
    background-color:#424242;
    margin: 0%;
    padding-top: 1px;
}

.body {
  padding: 0%;
  margin: 0%;
}

.typed-cursor {
  color: white;
}

.box {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 200px;
    z-index: 1;
    margin:30px 70px 30px 80px;
}

.box img {
    width: 300px;
    height: 200px;
}

.block {
  background-color: black;
  position: absolute;
  color: white;
  text-align: center;
  top: 75%;
  width: 100%;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contactForm {
  margin-top: 15px;
  margin-bottom: 20px;
}

::placeholder {
  color: rgb(150, 156, 156);
}

#pushButton {
 color: white
}

.footer-copyright {
    color: black;
    font-weight: 600;
}

/* Animated CSS */

.animate__animated {
  animation-duration: 1.5s;
}

.animate__animated.animate__zoomInDown {
  animation-duration: 3s;
}

.animate__animated.animate__zoomInUp {
  animation-duration: 3s;
}

.animate__animated.animate__zoomInRight {
  animation-duration: 3s;
}

.animate__animated.animate__zoomInLeft {
  animation-duration: 3s;
}


.animate__animated.animate__backInUp {
  animation-duration: 1s;
}


/* Materialize CSS

/* Custom Stylesheet */

 nav ul a,
 nav .brand-logo {
   color: white;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
   color: white;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 