
.banner-area h2{
    color: grey;
    align-content: center;
}

.box {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 200px;
    z-index: 1;
    margin:30px 70px 30px 80px;
}

.box img {
    width: 300px;
    height: 200px;
}

.footer-copyright {
    color: black;
    font-weight: 600;
}
